html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: rgb(0, 0, 0);
}

body {
  font-family: "Graphik LCG";
  position: relative;
}

.nav-container {
  max-width: 1298px;
  margin: 0 auto;
  padding: 0 20px;
}

.accelerate_container {
  max-width: 1258px;
  margin: 0 auto;
  padding: 0 20px;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 20px;
}

@font-face {
  font-family: "Graphik LCG";
  src: url("../assets/fonts/GraphikLCG-Regular.woff2") format("woff2"), url("../assets/fonts/GraphikLCG-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../assets/fonts/GraphikLCG-Semibold.woff2") format("woff2"), url("../assets/fonts/GraphikLCG-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.footer-end__content, .footer-end, .list-wrap, .footer__content, .software__stars, .software, .destination__content, .card, .set-cards__row, .item, .companies__logo, .accelerate, .navigation, .navigation__list, .navigation__links {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.btn_orange {
  background-color: #FF6336;
  color: rgb(255, 255, 255);
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  border: 1px solid #FF6336;
}

.btn_white {
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
}

.btn_orange {
  font-family: "Graphik LCG";
  cursor: pointer;
}

.btn_white {
  font-family: "Graphik LCG";
  cursor: pointer;
}

.header {
  padding: 25px 0;
  border-bottom: 1px solid rgb(204, 204, 204);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}

.navigation__links {
  gap: 5px 51px;
}
.navigation__list {
  gap: 0px 50px;
}
.navigation__item {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  transition: 0.3s;
}
.navigation__item:hover {
  color: #FF6336;
}

.btn_white {
  padding: 0 36px;
}

.btn_orange {
  padding: 0 22px;
}

.btn_white, .btn_orange {
  font-weight: 600;
  font-size: 16px;
  line-height: 45px;
  margin-top: 5px;
}

.accelerate {
  align-items: flex-end;
  padding-top: 129px;
  padding-bottom: 182px;
}
.accelerate__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 45%;
}
.accelerate__h1 {
  font-weight: 600;
  font-size: 65px;
  line-height: 70px;
  padding-bottom: 51px;
}
.accelerate__text {
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  max-width: 471px;
  padding-bottom: 51px;
}
.accelerate__buttons {
  padding-bottom: 25px;
}
.accelerate__offer {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}
.accelerate__img {
  width: 55%;
  overflow: hidden;
}

.btn_orange {
  padding: 0 41px 0 42px;
  margin-right: 10px;
}

.btn_white {
  padding: 0 29px;
}

.companies {
  background-color: #FF9C7D;
  padding-top: 108px;
  padding-bottom: 120px;
}
.companies__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
.companies__text {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  max-width: 720px;
  text-align: center;
}
.companies__logo {
  gap: 10px 90px;
}
.companies__logo a {
  transition: 0.5s;
}
.companies__logo a:hover {
  transform: rotate3d(1, 0, 0, 360deg);
}

.sign_link {
  text-decoration: underline;
}

.item {
  padding-top: 90px;
  padding-bottom: 90px;
}
.item__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 42%;
}
.item__name {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
}
.item__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.item__start {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  max-width: 150px;
  padding: 5px;
  margin-bottom: 20px;
  transition: 0.8s;
  border: 1px solid white;
}
.item__start:hover {
  border-left: 30px solid #FF6336;
  border-top: 1px solid #FF6336;
  border-right: 1px solid #FF6336;
  border-bottom: 1px solid #FF6336;
  border-radius: 10px;
  background-color: rgb(232, 231, 231);
}
.item__image {
  max-width: 632px;
  overflow: hidden;
  transition: 0.6s;
}
.item__image:hover {
  transform: scale(1.05);
}
.item_reverse {
  flex-direction: row-reverse;
}

.set-cards {
  background-color: #FFF8E4;
  padding: 120px 0 147px 0;
}
.set-cards__name {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
}
.set-cards__row {
  padding-top: 75px;
}

.card {
  width: 330px;
  flex-direction: column;
  gap: 20px;
}
.card__img {
  max-width: 160px;
  overflow: hidden;
  transition: all 0.5s ease;
}
.card__img:hover {
  transform: rotate(360deg);
}
.card__name {
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
}
.card__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.destination {
  display: flex;
  flex-direction: column;
  padding-top: 154px;
  padding-bottom: 187px;
}
.destination__description {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  padding-bottom: 72px;
}
.destination__content {
  gap: 20px;
}

.destination-work {
  flex: 0 0 auto;
  width: 33.3333333333%;
  padding: 10px;
  margin: -10px;
}
.destination-work__img {
  padding-bottom: 49px;
}
.destination-work__name {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  padding-bottom: 34px;
}
.destination-work__text, .destination-work__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 25px;
}
.destination-work__link {
  text-decoration: underline;
}

.revolt_wrap {
  background-color: #C9E8F2;
  padding-top: 53px;
  padding-bottom: 105px;
}

.revolt {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.revolt__text {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  padding-bottom: 23px;
  max-width: 870px;
}
.revolt__chief {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}

.software_wrap {
  background-color: #DABC98;
  padding-top: 89px;
  padding-bottom: 68px;
}

.software {
  gap: 20px;
}
.software__text {
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
  max-width: 461px;
}
.software__stars {
  gap: 30px;
  border-left: 1px solid rgb(0, 0, 0);
  padding-left: 70px;
}

.integrate {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 165px;
  padding-bottom: 162px;
}
.integrate__heading, .integrate__text {
  text-align: center;
}
.integrate__heading {
  font-weight: 600;
  font-size: 65px;
  line-height: 75px;
}
.integrate__text {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  max-width: 539px;
  margin: 0 auto;
  padding-bottom: 25px;
}
.integrate__img img {
  max-width: 100%;
}
.integrate__btn {
  padding: 0 20px;
  margin-top: 32px;
}

.localisation-wrap {
  background-color: #FF9C7D;
}

.localisation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 119px;
  padding-bottom: 161px;
}
.localisation__heading {
  font-weight: 600;
  font-size: 65px;
  line-height: 75px;
  padding-bottom: 29px;
  max-width: 784px;
  text-align: center;
}
.localisation__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 54px;
}

.btn__try {
  font-weight: 600;
  font-size: 17px;
  line-height: 60px;
  background-color: black;
  color: white;
  padding: 0 40px;
  cursor: pointer;
}

.footer__content {
  align-items: flex-start;
  padding: 92px 0 95px 0;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.footer__case {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 20px;
}

.case__heading {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
}
.case__text, .case__read {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.case__read {
  font-weight: 600;
}

.list-wrap {
  align-items: baseline;
  width: 67%;
}

.content-list {
  width: 25%;
}
.content-list__name {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  padding-bottom: 21px;
  min-width: 170px;
}
.content-list__item {
  margin-bottom: 15px;
}
.content-list__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  transition: 0.5s;
}
.content-list__link:hover {
  color: #FF6336;
}

.footer-end {
  gap: 10px;
  padding: 45px 0;
}
.footer-end__content {
  gap: 15px;
}
.footer-end__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  max-width: 300px;
}

.copyright {
  display: flex;
  flex-direction: column;
}
.copyright__year, .copyright__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

@media all and (max-width: 1200px) {
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
    padding: 10px;
    margin: -10px;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
    padding: 10px;
    margin: -10px;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
    padding: 10px;
    margin: -10px;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
    padding: 10px;
    margin: -10px;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
    padding: 10px;
    margin: -10px;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
    padding: 10px;
    margin: -10px;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
    padding: 10px;
    margin: -10px;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
    padding: 10px;
    margin: -10px;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
    padding: 10px;
    margin: -10px;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
    padding: 10px;
    margin: -10px;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
    padding: 10px;
    margin: -10px;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
    padding: 10px;
    margin: -10px;
  }
  .navigation__links {
    justify-content: space-evenly;
    gap: 10px;
  }
  .navigation__buttons {
    margin: 0 auto;
  }
  .navigation__list {
    gap: 5px 10px;
    padding: 10px 0;
  }
  .accelerate {
    text-align: center;
    padding: 40px 0;
  }
  .accelerate__content {
    padding-bottom: 20px;
  }
  .accelerate__text {
    margin: 0 auto;
  }
  .accelerate__img {
    padding: 0 20px;
  }
  .companies {
    padding: 30px 0;
  }
  .companies__logo {
    justify-content: space-evenly;
  }
  .destination {
    padding: 40px 0;
  }
  .destination__description {
    text-align: center;
  }
  .destination-work {
    text-align: center;
    padding: 20px 20px;
  }
  .revolt_wrap {
    padding: 30px 0;
  }
  .revolt__officer {
    margin: 0 auto;
    border-radius: 50%;
  }
  .revolt__text {
    min-width: 100%;
  }
  .item {
    flex-direction: column;
    padding: 40px 0;
  }
  .software {
    justify-content: space-evenly;
  }
  .integrate, .localisation {
    padding: 40px 0;
  }
  .list-wrap {
    width: 100%;
  }
}
@media all and (max-width: 768px) {
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
    padding: 10px;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
    padding: 10px;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
    padding: 10px;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
    padding: 10px;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
    padding: 10px;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
    padding: 10px;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
    padding: 10px;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
    padding: 10px;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
    padding: 10px;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
    padding: 10px;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
    padding: 10px;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
    padding: 10px;
  }
  .navigation__links {
    justify-content: space-around;
    gap: 20px;
  }
  .navigation__buttons {
    margin: 0 auto;
  }
  .navigation__list {
    gap: 5px 10px;
    padding: 10px 0;
  }
  .accelerate {
    padding: 70px 10px;
  }
  .companies {
    padding: 50px 0;
  }
  .companies__logo {
    justify-content: space-around;
  }
  .item {
    padding: 40px;
  }
  .set-cards {
    padding: 60px 0 70px 0;
  }
  .set-cards__row {
    padding-top: 25px;
  }
  .destination {
    padding: 70px;
  }
  .destination-work {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .software {
    justify-content: center;
  }
  .software__stars {
    border-left: none;
    border-top: 1px solid rgb(0, 0, 0);
    padding-top: 60px;
    padding-top: 50px;
  }
  .software_wrap {
    padding: 60px 10px;
  }
  .integrate {
    padding: 60px 10px;
  }
  .localisation {
    padding: 70px;
  }
  .footer__case {
    max-width: 100%;
  }
  .footer__content {
    padding: 50px;
  }
}
@media all and (max-width: 576px) {
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
    padding: 10px;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
    padding: 10px;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
    padding: 10px;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
    padding: 10px;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
    padding: 10px;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
    padding: 10px;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
    padding: 10px;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
    padding: 10px;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
    padding: 10px;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
    padding: 10px;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
    padding: 10px;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
    padding: 10px;
  }
  .navigation__links {
    justify-content: space-around;
  }
  .navigation__buttons {
    margin: 0 auto;
  }
  .navigation__list {
    gap: 5px 10px;
    padding: 10px 0;
  }
  .accelerate {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .accelerate__h1 {
    font-size: 50px;
    line-height: 50px;
  }
  .companies {
    padding: 60px 0 60px 0;
  }
  .companies__text {
    font-size: 40px;
    line-height: 50px;
  }
  .companies__logo {
    justify-content: space-around;
  }
  .item {
    padding: 30px 0;
  }
  .item__name {
    font-size: 40px;
    line-height: 45px;
  }
  .set-cards {
    padding: 40px 0 40px 0;
    font-size: 40px;
    line-height: 50px;
  }
  .set-cards__row {
    padding-top: 25px;
  }
  .destination {
    padding: 50px 10px;
  }
  .destination__description {
    font-size: 40px;
    line-height: 50px;
    padding-bottom: 40px;
    text-align: center;
  }
  .destination-work {
    padding: 10px 0;
  }
  .software_wrap {
    padding: 40px 10px;
  }
  .software {
    justify-content: center;
  }
  .software__stars {
    border-left: none;
    padding-left: 70px;
    border-top: 1px solid rgb(0, 0, 0);
    padding-top: 40px;
  }
  .integrate {
    padding: 40px 10px;
  }
  .integrate__heading {
    font-size: 40px;
    line-height: 50px;
  }
  .localisation {
    padding: 70px;
  }
  .localisation__heading {
    font-size: 55px;
    line-height: 55px;
  }
}/*# sourceMappingURL=main.css.map */