* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: rgba(0, 0, 0, 1);
}

body {
    font-family: 'Graphik LCG';
    position: relative;
}

.nav-container {
    max-width: 1298px;
    margin: 0 auto;
    padding: 0 20px;
}

.accelerate_container {
    max-width: 1258px;
    margin: 0 auto;
    padding: 0 20px;
}

.container {
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 20px;
}