@import './reset';
@import './common';
@font-face {
    font-family: 'Graphik LCG';
    src: url('../assets/fonts/GraphikLCG-Regular.woff2') format('woff2'),
        url('../assets/fonts/GraphikLCG-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../assets/fonts/GraphikLCG-Semibold.woff2') format('woff2'),
        url('../assets/fonts/GraphikLCG-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

//Переменные

$orange_btn: #FF6336;
$orange_bcg: #FF9C7D;
$light_blue_bcg: #C9E8F2;
$amber_bcg: #FFF8E4;
$brown_bcg: #DABC98;

//Миксины

@mixin font-settings ($w, $s, $h) {
    font-weight: $w;
    font-size: $s;
    line-height: $h;
}

//Шаблоны

%flex-box {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

%orange_btn {
    background-color: $orange_btn;
    color: rgba(255, 255, 255, 1);
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    border: 1px solid $orange_btn;
}

%white_btn {
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    font-size: 16px; 
    line-height: 60px;   
}

//Цвет кнопок

.btn_orange {
    @extend %orange_btn;
    font-family: 'Graphik LCG';
    cursor: pointer;
}

.btn_white {
    @extend %white_btn;
    font-family: 'Graphik LCG';
    cursor: pointer;
}

//Начало сайта

.header {
    padding: 25px 0;
    border-bottom: 1px solid rgba(204, 204, 204, 1);
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1;
}
.navigation, .navigation__list, .navigation__links {
    @extend %flex-box;
}
.navigation {
    &__links {
        gap: 5px 51px; 
    }
    &__list {
        gap: 0px 50px;
    }
    &__item {
        @include font-settings (400, 15px, 20px);
        transition: 0.3s;
        &:hover {
            color: $orange_btn;
        }
    }
}
.btn_white {
    padding: 0 36px;
}
.btn_orange {
    padding: 0 22px;
}
.btn_white, .btn_orange {
    @include font-settings (600, 16px, 45px);
    margin-top: 5px;
}

.accelerate {
    @extend %flex-box;
    align-items: flex-end;
    justify-content: normal;
    padding-top: 129px;
    padding-bottom: 182px;
    &__content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 539px;
    }
    &__h1 {
        @include font-settings (600, 65px, 70px);
        padding-bottom: 51px;
    }
    &__text {
        @include font-settings (400, 25px, 35px);
        max-width: 471px;
        padding-bottom: 51px;
    }
    &__buttons {
        padding-bottom: 25px;
    }
    &__offer {
        @include font-settings (400, 15px, 25px);
    }
    &__img {
        max-width: 678px;
        overflow: hidden;
    }
}
    .btn_orange {
        padding: 0 41px 0 42px;
        margin-right: 10px;
    }
    .btn_white {
        padding: 0 29px;
    }


.companies {
    background-color: $orange_bcg;
    padding-top: 108px;
    padding-bottom: 120px;
    
    &__flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }
    &__text {
        @include font-settings (600, 50px, 60px);
        max-width: 720px;
        text-align: center;
    }
    &__logo {
        @extend %flex-box;
        gap: 10px 90px;
        & a {
            transition: 0.5s;
        }
        & a:hover {
            transform: rotate3d(1, 0, 0, 360deg);
        }
    }
}

.sign_link {
    text-decoration: underline;
}
///check-point///////
.item {
    @extend %flex-box;
    padding-top: 90px;
    padding-bottom: 90px;
    &__content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 520px;
    }
    &__name {
        @include font-settings (600, 50px, 60px);
    }
    &__text {
        @include font-settings (400, 20px, 30px);
    }
    &__start {
        @include font-settings (600, 20px, 30px);
        max-width: 150px;
        padding: 5px;
        margin-bottom: 20px;
        transition: 0.8s;
        border: 1px solid white;
        &:hover {
            border-left: 30px solid $orange_btn;
            border-top: 1px solid $orange_btn;
            border-right: 1px solid $orange_btn;
            border-bottom: 1px solid $orange_btn;
            border-radius: 10px;
            background-color: rgb(232, 231, 231);
        }
    }
    &__image {
        max-width: 632px;
        overflow: hidden;
        transition: 0.6s;
        &:hover {
            transform: scale(1.05);
        }
    }
    &_reverse {
        flex-direction: row-reverse;
    }    
}

//Cards

.set-cards {
    background-color: $amber_bcg;
    padding: 120px 0 147px 0;
    &__name {
        @include font-settings (600, 50px, 60px); 
        text-align: center;
    }
    &__row {
        @extend %flex-box;
        padding-top: 75px;
    }
}
.card {
    max-width: 330px;
    @extend %flex-box;
    flex-direction: column;
    gap: 20px;
    &__img {
        max-width: 160px;
        overflow: hidden;
        transition: all 0.5s ease;
    } 
    &__img:hover {
        transform: rotate(360deg);
    }
    &__name {
        @include font-settings (600, 25px, 35px);
    }
    &__text {
        @include font-settings (400, 18px, 25px);
        text-align: center;
    }
}


.destination {
    display: flex;
    flex-direction: column;
    padding-top: 154px;
    padding-bottom: 187px;
    &__description {
        @include font-settings (600, 50px, 60px);
        padding-bottom:  72px;
    }
    &__content {
        @extend %flex-box;
        gap: 20px;
    }
}
.destination-work {
        max-width: 390px;  
    &__img {
        padding-bottom: 49px;
    }
    &__name {
        @include font-settings (600, 30px, 40px);
        padding-bottom: 34px; 
    }      
    &__text, &__link {
        @include font-settings (400, 20px, 30px); 
        padding-bottom: 25px;
    }
    &__link {
        text-decoration: underline;
    }
}


.revolt_wrap {
    background-color: $light_blue_bcg;
    padding-top: 53px;
    padding-bottom: 105px;
}
.revolt {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    &__text {
        @include font-settings (400, 30px, 40px);
        padding-bottom: 23px;
        max-width: 870px;
    }
   &__chief {
        @include font-settings (400, 15px, 25px);
    }
}

.software_wrap {
    background-color: $brown_bcg;
    padding-top: 89px;
    padding-bottom: 68px;
}
.software {
    @extend %flex-box;
    gap: 20px;
    &__text {
        @include font-settings (600, 35px, 50px);
        max-width: 461px;
    }
    &__stars {
        @extend %flex-box;
        gap: 30px;
        border-left: 1px solid rgba(0, 0, 0, 1);
        padding-left: 70px;
    }    
}

.integrate {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 165px;
    padding-bottom: 162px;
    &__heading, &__text {
        text-align: center
    }
    &__heading {
        @include font-settings (600, 65px, 75px);
    }
    &__text {
        @include font-settings (400, 25px, 30px);
        max-width: 539px;
        margin: 0 auto;
        padding-bottom: 25px;
    }
    &__img {
        & img {
            max-width: 100%;
        }
    }
    &__btn {
        padding: 0 20px;
        margin-top: 32px;
    }
}

.localisation-wrap {
    background-color: $orange_bcg;
}

.localisation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 119px;
    padding-bottom: 161px;
    &__heading {
        @include font-settings (600, 65px, 75px); 
        padding-bottom: 29px;
        max-width: 784px;
        text-align: center;
    }
    &__text {
        @include font-settings (400, 20px, 30px);
        padding-bottom: 54px; 
    }
}

.btn__try {
    @include font-settings (600, 17px, 60px);
    background-color: black;
    color: white;
    padding: 0 40px;
}
    
.footer {
    &__content {
        @extend %flex-box;
        align-items: flex-start;
        justify-content: space-between;
        padding: 92px 0 95px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 1);
    }
    &__case {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        gap: 20px;
    }
}

.case {
    &__heading {
        @include font-settings (600, 40px, 50px); 
    }
    &__text, &__read  {
        @include font-settings (400, 20px, 30px); 
    }
    &__read{
        font-weight: 600;
    }
}
            
        
.content-list {
    &__name {
        @include font-settings (600, 20px, 25px); 
        padding-bottom: 21px;
        min-width: 170px;
    }
    &__item {
        margin-bottom: 15px;
    }
    &__link {
        @include font-settings (400, 15px, 15px);
        transition: 0.5s;
        &:hover {
            color: $orange_btn;
        }
    }
}


/////Footer
.footer-end {
    @extend %flex-box;
    gap: 10px;
    padding: 45px 0;
    &__content {
        @extend %flex-box;
        gap: 15px;
    }
    &__text {
        @include font-settings (400, 12px, 15px);
        max-width: 300px;
    }   
}

.copyright {
    display: flex;
    flex-direction: column;
    &__year, &__text {
        @include font-settings (400, 12px, 15px);
    }
}
