html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: rgb(0, 0, 0);
}

body {
  font-family: "Graphik LCG";
  position: relative;
}

.nav-container {
  max-width: 1298px;
  margin: 0 auto;
  padding: 0 20px;
}

.accelerate__container {
  max-width: 1258px;
  margin: 0 auto;
  padding: 0 20px;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
}

@font-face {
  font-family: "Graphik LCG";
  src: url("../assets/fonts/GraphikLCG-Regular.woff2") format("woff2"), url("../assets/fonts/GraphikLCG-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../assets/fonts/GraphikLCG-Semibold.woff2") format("woff2"), url("../assets/fonts/GraphikLCG-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.footer--end .end--content, .footer--end, .footer--content, .software-wrap .software .software__stars, .software-wrap .software, .main--direction .direction--content, .main--cards .card, .main--cards .cards__row, .item, .companies__wrap .companies__logo, .main--accelerate, .header .navigation, .header .navigation--list, .header .navigation--links {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.btn__orange {
  background-color: #FF6336;
  color: rgb(255, 255, 255);
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  border: 1px solid #FF6336;
}

.btn__white {
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
}

.btn__orange {
  font-family: "Graphik LCG";
}

.btn__white {
  font-family: "Graphik LCG";
}

.header {
  padding: 25px 0;
  border-bottom: 1px solid rgb(204, 204, 204);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}
.header .navigation--links {
  gap: 5px 51px;
}
.header .navigation--links .navigation--list {
  gap: 5px 50px;
}
.header .list__item {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  padding-bottom: 10px;
  transition: 0.3s;
}
.header .list__item:hover {
  color: #FF6336;
}
.header .btn__white {
  padding: 0 36px;
}
.header .btn__orange {
  padding: 0 22px;
}
.header .btn__white, .header .btn__orange {
  font-weight: 600;
  font-size: 16px;
  line-height: 45px;
  margin-top: 5px;
}

.main--accelerate {
  align-items: flex-end;
  justify-content: normal;
  padding-top: 129px;
  padding-bottom: 182px;
}
.main--accelerate .accelerate--content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 539px;
}
.main--accelerate .h1 {
  font-weight: 600;
  font-size: 65px;
  line-height: 70px;
  padding-bottom: 51px;
}
.main--accelerate .content__text {
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  max-width: 471px;
  padding-bottom: 51px;
}
.main--accelerate .buttons {
  padding-bottom: 25px;
}
.main--accelerate .buttons .btn__orange {
  padding: 0 41px 0 42px;
  margin-right: 10px;
}
.main--accelerate .buttons .btn__white {
  padding: 0 29px;
}
.main--accelerate .offer {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}
.main--accelerate .accelerate__img {
  max-width: 678px;
  overflow: hidden;
}

.companies__wrap {
  background-color: #FF9C7D;
  padding-top: 108px;
  padding-bottom: 120px;
}
.companies__wrap .main--companies {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
.companies__wrap .companies__text {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  max-width: 720px;
  text-align: center;
}
.companies__wrap .companies__logo {
  gap: 10px 90px;
}
.companies__wrap .companies__logo a {
  transition: 0.5s;
}
.companies__wrap .companies__logo a:hover {
  transform: rotate3d(1, 0, 0, 360deg);
}

.sign_link {
  text-decoration: underline;
}

.item {
  padding-top: 90px;
  padding-bottom: 90px;
}
.item .item--content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 520px;
}
.item .item--content .item__name {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
}
.item .item--content .item__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.item .item--content .item__start {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  max-width: 150px;
  padding: 5px;
  margin-bottom: 20px;
  transition: 0.8s;
  border: 1px solid white;
}
.item .item--content .item__start:hover {
  border-left: 30px solid #FF6336;
  border-top: 1px solid #FF6336;
  border-right: 1px solid #FF6336;
  border-bottom: 1px solid #FF6336;
  border-radius: 10px;
  background-color: rgb(232, 231, 231);
}
.item .item__image {
  max-width: 632px;
  overflow: hidden;
  transition: 0.6s;
}
.item .item__image:hover {
  transform: scale(1.05);
}
.item.reverse {
  flex-direction: row-reverse;
}

.main--cards {
  background-color: #FFF8E4;
  padding: 120px 0 147px 0;
}
.main--cards .main--card__name {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
}
.main--cards .cards__row {
  padding-top: 75px;
}
.main--cards .card {
  max-width: 330px;
  flex-direction: column;
  gap: 20px;
}
.main--cards .card .card__img {
  max-width: 160px;
  overflow: hidden;
  transition: all 0.5s ease;
}
.main--cards .card .card__img:hover {
  transform: rotate(360deg);
}
.main--cards .card .card__name {
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
}
.main--cards .card .card__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.main--direction {
  display: flex;
  flex-direction: column;
  padding-top: 154px;
  padding-bottom: 187px;
}
.main--direction .direction__description {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  padding-bottom: 72px;
}
.main--direction .direction--content {
  gap: 20px;
}
.main--direction .direction {
  max-width: 390px;
}
.main--direction .direction .direction__img {
  padding-bottom: 49px;
}
.main--direction .direction .direction__name {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  padding-bottom: 34px;
}
.main--direction .direction .direction__text, .main--direction .direction .direction__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 25px;
}
.main--direction .direction .direction__link {
  text-decoration: underline;
}

.revolt-wrap {
  background-color: #C9E8F2;
  padding-top: 53px;
  padding-bottom: 105px;
}
.revolt-wrap .revolt {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.revolt-wrap .revolt .revolt__text {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  padding-bottom: 23px;
  max-width: 870px;
}
.revolt-wrap .revolt .revolt__chief {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}

.software-wrap {
  background-color: #DABC98;
  padding-top: 89px;
  padding-bottom: 68px;
}
.software-wrap .software {
  gap: 20px;
}
.software-wrap .software .software__text {
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
  max-width: 461px;
}
.software-wrap .software .software__stars {
  gap: 30px;
  border-left: 1px solid rgb(0, 0, 0);
  padding-left: 70px;
}

.integrate {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 165px;
  padding-bottom: 162px;
}
.integrate .integrate__heading, .integrate .integrate__text {
  text-align: center;
}
.integrate .integrate__heading {
  font-weight: 600;
  font-size: 65px;
  line-height: 75px;
}
.integrate .integrate__text {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  max-width: 539px;
  margin: 0 auto;
  padding-bottom: 25px;
}
.integrate .integrate__img img {
  max-width: 100%;
}
.integrate .btn__orange {
  padding: 0 20px;
  margin-top: 32px;
}

.localisation-wrap {
  background-color: #FF9C7D;
}
.localisation-wrap .localisation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 119px;
  padding-bottom: 161px;
}
.localisation-wrap .localisation .localisation__heading {
  font-weight: 600;
  font-size: 65px;
  line-height: 75px;
  padding-bottom: 29px;
  max-width: 784px;
  text-align: center;
}
.localisation-wrap .localisation .localisation__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 54px;
}
.localisation-wrap .localisation .btn__try {
  font-weight: 600;
  font-size: 17px;
  line-height: 60px;
  background-color: black;
  color: white;
  padding: 0 40px;
}

.footer--content {
  align-items: flex-start;
  justify-content: space-between;
  padding: 92px 0 95px 0;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.footer--content .content__case {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 20px;
}
.footer--content .content__case .case__heading {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
}
.footer--content .content__case .case__text, .footer--content .content__case .case__read {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.footer--content .content__case .case__read {
  font-weight: 600;
}
.footer--content .content--list .list__name {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  padding-bottom: 21px;
  min-width: 170px;
}
.footer--content .content--list .list__item {
  margin-bottom: 15px;
}
.footer--content .content--list .list__item .list__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  transition: 0.5s;
}
.footer--content .content--list .list__item :hover {
  color: #FF6336;
}

.footer--end {
  gap: 10px;
  padding: 45px 0;
}
.footer--end .end--content {
  gap: 15px;
}
.footer--end .end--content .end__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  max-width: 300px;
}
.footer--end .copyright {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=main.css.map */